<script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>
      <script type="text/javascript" src="js/purl.js"></script>
      <script src="js/highstock.js"></script>
      <script src="js/exporting.js"></script>
      <script src="js/main.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="js/stock.js"></script>
   </body>
</html>